<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563255320612-tofo2udcfve79fphi602vh6ra0ool0kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563255320612-tofo2udcfve79fphi602vh6ra0ool0kj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563255320612-8gimpvgdiv56d6dtgh8sir82fd3j09um.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0AUvZ3SfYmwjZDThDUlJBumfRITvGIoo</string>
	<key>GCM_SENDER_ID</key>
	<string>563255320612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calico</string>
	<key>PROJECT_ID</key>
	<string>calico-80b62</string>
	<key>STORAGE_BUCKET</key>
	<string>calico-80b62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563255320612:ios:8b8be859a9b6c7802438b1</string>
</dict>
</plist>